{% extends 'base.html.twig' %}

{% block title %}Bucket List | Connexion{% endblock %}

{% block body %}
<form class="card p-3" method="post" style="max-width: 600px;width: 100%">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal text-center">Connexion</h1>
    <label for="inputEmail" class="mb-2">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-3" placeholder="email" autocomplete="email" required autofocus>
    <label for="inputPassword" class="mb-2">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control mb-3" placeholder="password" autocomplete="current-password" required>


    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <div class="form-check form-switch input-group ps-4">
        <div class="form-check">
            <input type="checkbox" name="_remember_me" class="form-check-input">
            <label class="form-check-label">
                Se souvenir de moi
            </label>
        </div>
    </div>

    <a class="mb-3 text-end" href="{{ path('app_forgot_password_request') }}">Mot de passe oublié</a>

    <button class="btn btn-lg btn-primary" type="submit">
        Se connecter
    </button>
</form>
{% endblock %}
